#main {
  margin: 0 auto;
  width: 80%;
}

#todos > .btn-group {
  margin-bottom: 10px;
}

#subtotal {
  margin-bottom: 10px;
}

#add-todo > div { 
  width: 100%;
}

#add-todo > div > input {
  width: 100%;
}